 

/* The container sets the width as a percentage of the browser window and margin 0 auto centers the page
 Note that all measurements are in relative units*/

.Me{
    text-align: center;
    margin: 75px -90px 5px -55px;
}


.container {
    
}

body { 
    background-image: 
         url(images/hill.jpg) no-repeat; 100px;
    background-color: #DEBD4A;
               
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    
    }


/*img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}*/

#header {
    font-family: 'Cookie', cursive;
    color: #3D3D3D;
    text-align: center;
    font-size: 4em;
    margin: 30px -50px 50px 0px;
    
    }
nav ul 
{
    width: 100%;
    margin-top: 1.1em;
    margin-bottom: -1.6em;
    text-align: center;
    margin: -30px 10px 30px -6px;
   
    
}
nav ul li
{
   font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.em;
    line-height: 1.5;
    list-style-type: none;
    display: inline;
    
    
}


a{
    text-decoration: none;
    margin: 1.1em;
    align-content: center;

}

a:link {
	color: darkcyan;
}
a:visited {
	color: darkcyan;
}
a:focus {
	
	color: darkblue;
}
a:hover {
	color: #3D3D3D;
}
a:active {
	color: darkblue;
}

.intro {
    font-family: 'Raleway', sans-serif;
    serif;
    text-align: center;
    color: #3D3D3D;
    
    margin-bottom: 2em;
    margin-top: 3em;
    margin-right: 1.4em;
    margin-left: 4.2em;
    line-height: 1.4;
}
 



/* About Me Page*/

.Personal{
    
}
.About{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    color: #3D3D3D;
    margin-top: 2em;    
}

.Surf Img {
    float: left
}

h1{ 
    font-family: 'Cookie', cursive;
    color: #3D3D3D;
    text-align: center;
    font-size: 4em;
    margin: 30px -50px 50px 0px;
}

.Contact {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #3D3D3D;
    display: inline;
    color:aliceblue;
}

.TAGA {
    float: left;
    position: fixed
}
.TAGA1 {font-family: 'Raleway',           serif;
position: fixed
        font-size: .8em;
        margin-left: 20em;
        line-height: 1.5
        
}

.Team {
    float: left;
    margin-top: 135px;
    
}
.Team1 {font-family: 'Raleway',           serif;
position: fixed
            font-size: .8em;
            margin-left: 20em;
            margin-top: 1em;
            line-height: 1.5    
}
.Lawler {
    float: left;
    margin-top: 305px;
    
}
.Lawler1 {font-family: 'Raleway', serif;
position: fixed
        font-size: .8em;
        margin-left: 20em;
        line-height: 1.5     
}